<!DOCTYPE html>
<html>

<head>
    <title>Log In</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body id="auth-body">
    <div class="container">
        <div class="signup-form">
            <h1>LOG IN</h1>
            <form>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button>Log In</button>
                <p>Don't have an account? <a href="/register"><b>Sign Up</b></a></p>
            </form>
        </div>
    </div>
</body>

</html>