<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body id="auth-body">
    <div class="container">
        <div class="signup-form">
            <h1>REGISTER</h1>
            <form action="/places" method="GET">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button>Sign Up</button>
                <p>Already have an account? <a href="/login"><b>Sign In</b></a></p>
            </form>
        </div>
    </div>
</body>

</html>